<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xtwy.mapper.OrdersdetailMapper" >
  <resultMap id="BaseResultMap" type="com.xtwy.bean.Ordersdetail" >
    <id column="orderDetailId" property="orderdetailid" jdbcType="INTEGER" />
    <result column="ordersNum" property="ordersnum" jdbcType="VARCHAR" />
    <result column="goodsId" property="goodsid" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="goodsNum" property="goodsnum" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    orderDetailId, ordersNum, goodsId, price, goodsNum, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ordersdetail
    where orderDetailId = #{orderdetailid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ordersdetail
    where orderDetailId = #{orderdetailid,jdbcType=INTEGER}
  </delete>
 
  <insert id="insert" parameterType="com.xtwy.bean.Ordersdetail" >
    insert into ordersdetail (orderDetailId, ordersNum, goodsId, 
      price, goodsNum, remark
      )
    values (#{orderdetailid,jdbcType=INTEGER}, #{ordersnum,jdbcType=VARCHAR}, #{goodsid,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{goodsnum,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xtwy.bean.Ordersdetail" >
    insert into ordersdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderdetailid != null" >
        orderDetailId,
      </if>
      <if test="ordersnum != null" >
        ordersNum,
      </if>
      <if test="goodsid != null" >
        goodsId,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="goodsnum != null" >
        goodsNum,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderdetailid != null" >
        #{orderdetailid,jdbcType=INTEGER},
      </if>
      <if test="ordersnum != null" >
        #{ordersnum,jdbcType=VARCHAR},
      </if>
      <if test="goodsid != null" >
        #{goodsid,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="goodsnum != null" >
        #{goodsnum,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
 
  <update id="updateByPrimaryKeySelective" parameterType="com.xtwy.bean.Ordersdetail" >
    update ordersdetail
    <set >
      <if test="ordersnum != null" >
        ordersNum = #{ordersnum,jdbcType=VARCHAR},
      </if>
      <if test="goodsid != null" >
        goodsId = #{goodsid,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="goodsnum != null" >
        goodsNum = #{goodsnum,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where orderDetailId = #{orderdetailid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xtwy.bean.Ordersdetail" >
    update ordersdetail
    set ordersNum = #{ordersnum,jdbcType=VARCHAR},
      goodsId = #{goodsid,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      goodsNum = #{goodsnum,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where orderDetailId = #{orderdetailid,jdbcType=INTEGER}
  </update>
</mapper>